DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_db
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0
LOCAL_MODE=false

VITE_YANDEX_API_KEY=your_yandex_api_key

SECRET_KEY=your_secret_key
DEBUG=false